<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/home.css">
	<meta charset="utf-8">
	<!-- font Notsans -->
	<link rel="stylesheet" type="text/css" href="https://font.google.com/css2?family=Noto+Sans+JP&display=swap">
	<!-- font awesome icons -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Market Day Dashboard</title>
</head>
<body>
	<input type="checkbox" name="cart"/>
	<label for="cart" class="label-cart"><span class="fas fa-shopping-cart"></span></label>
	<h3 class="logo">Food Delivery</h3> 

		<!-- sidebadrs -->
	<div class="sidebars">
		<div class="sidebars-menu">
			<span class="fas fa-search"></span>
			<a href="#">Search</a>
		</div>
		<div class="sidebars-menu">
			<span class="fas fa-home"></span>
			<a href="#">Home</a>
		</div>
		<div class="sidebars-menu">
			<span class="fas fa-heart"></span>
			<a href="#">Favourites</a>
		</div>
		<div class="sidebars-menu">
			<span class="fas fa-user"></span>
			<a href="#">Profile</a>
		</div>
		<div class="sidebars-menu">
			<span class="fas fa-sliders-h"></span>
			<a href="#">Setting</a>
		</div>
		</div>

		<!-- dashboard -->
		<div class="dashboard">
			<div class="dashboard-banner">
				<img src="burger.jpeg">
				<div class="banner-promo">
					<h1><span>50% OFF</span><br>
						Tasty Food <br>On your plate</h1>
				</div>
			</div>
			<h3 class="dashboard-tittle">Recommendation Food For You
			</h3>
			<div class="dashboard-menu">
				<a href="#">Faurites</a>
				<a href="#">Best Seller</a>
				<a href="#">Near Me</a>
				<a href="#">Promotions</a>
				<a href="#">Top Rated</a>
				<a href="#">All</a>
			</div>
			<di v class="dashboard-content">
				<div class="dashboard-card">
					<img class="card-image" src="/bongolese_spangetti.jpeg">
					<div class="card-details">
						<h4>Amazing Turkey Food<span  class="container">$30</span></h4>
						<p>Lorem ipum color</p>
						<p class="card-time"><span class="fas fa-clock"></span>15-30min</p>
					</div>
				
		        </div>
		        <div class="dashboard-card">
					<img class="card-image" src="/pizza.jpeg">
					<div class="card-details">
						<h4>Amazing Pizza<span  class="container">$35</span></h4>
						<p>Lorem ipum color</p>
						<p class="card-time"><span class="fas fa-clock"></span>15-30min</p>
					</div>
			</div>
			    <div class="dashboard-card">
					<img class="card-image" src="/burger.jpeg">
					<div class="card-details">
						<h4>Burger<span  class="container">$10</span></h4>
						<p>Lorem ipum color</p>
						<p class="card-time"><span class="fas fa-clock"></span>10-20min</p>
					</div>
			</div>
			<div class="dashboard-card">
					<img class="card-image" src="/sea_food.jpeg">
					<div class="card-details">
						<h4>Best sea food in town<span  class="container">$35</span></h4>
						<p>Lorem ipum color</p>
						<p class="card-time"><span class="fas fa-clock"></span>15-30min</p>
					</div>
			</div>
			<div class="dashboard-card">
					<img class="card-image" src="/fruit_palate.jpeg">
					<div class="card-details">
						<h4>Fruit Palate<span  class="container">$35</span></h4>
						<p>Lorem ipum color</p>
						<p class="card-time"><span class="fas fa-clock"></span>15-30min</p>
					</div>
			</div>
			<div class="dashboard-card">
					<img class="card-image" src="/fries.jpeg">
					<div class="card-details">
						<h4>Fries<span class="container">$35</span></h4>
						<p>Lorem ipum color</p>
						<p class="card-time"><span class="fas fa-clock"></span>20min</p>
					</div>
			</div>
		   </div>
		</div>
		<!-- order dash board -->
		<div class="dashboard-order">
			<h3>Order menu</h3>
			<div class="order-address">
				<p>Address Delivery</p>
				<h4>Columbus,kakamega signature street</h4>
			</div>
			<div class="order-time">
				<span class="fas fa-clock"></span>30min<span class="fas fa-map-marker-alt">2km</span>
			</div>
			<div class="order-wrap">
				<div class="order-card">
					<img class="order-image" src="/burger.jpeg">
					<p>Lorem ipum color</p>
					<i class="fas fa-times"></i>
					<input type="text" name="" value="1">
				</div>
				<h4 class="order-price">$35</h4>
			</div>
			<div class="order-wrap">
				<div class="order-card">
					<img  class="order-image" src="/sea_food.jpeg">
					<p>Lorem ipum color</p>
					<i class="fas fa-times"></i>
					<input type="text" name="" value="1">
				</div>
				<h4 class="order-price">$35</h4>
			</div>
			<div class="order-wrap">
				<div class="order-card">
					<img class="order-image"src="/burger.jpeg">
					<p>Lorem ipum color</p>
					<i class="fas fa-times"></i>
					<input type="text" name="" value="1">
				</div>
				<h4 class="order-price">$35</h4>
			</div>
		</div>
		<hr class="divider">
		<div class="order-total">
			<p>Subtotal<span>$156</span></p>
			<p>Tax 10%<span>$15.6</span></p>
			<p>Delivery fee<span>$1</span></p>
		</div>

		</div>

</body>
</html>