:root{
    --mainColor:#f6f8fa;
    --darkBlack:#2d2f31;
    --darkGrey:#61666b;
    --grey:#d5d5d5;
    --lightGrey:#f2f2f2;
    --yellow:#fecb40;
    --red:#df113c;
  }
  *{
    margin: 0;
  
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-display: "Noto Sans JP",sans-serif;
  }
  body{
    width: 100%;
    height: auto;
    color: var(--darkBlack);
  }
  p{
    font-size: 14px;
  }
  .label-cart{
    position: fixed;
    top: 15;
    right: 10;
    z-index: 4;
    cursor: pointer;
  
  }
  .logo{
    position: fixed;
    background-color: var(--darkBlack);
    color: var(--lightGrey);
    width: 100%;
    text-align: center;
    padding: 15px 420px 15px 60px;
    top:0;
    z-index: 2;
  
  }
  .sidebars{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100px;
    background-color: var(--mainColor);
    z-index: 1;
    padding-top: 70px;
  
  }
  .sidebars-menu{
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    color: var(--darkGrey);
  }
  .sidebars-menu>a{
    text-decoration: none;
    font-size: 0.7rem;
    line-height: 1.8;
    color: var(--darkGrey);
  }
  .sidebars-menu:hovers{
    border-right:2px solid var(--yellow) ;
    color: var(--yellow);
  }
  /*hovers not working*/
  .sidebars-menu:hovers>a{
    /*border-right:2px solid var(--yellow) ;*/
    color: var(--yellow);
  
  }
  .dadhboard{
    height: 100%;
    width: 100%;
    padding-right: 360px;
    padding-left: 60px;
  }
  .dashboard-banner{
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 4rem;
    padding: 3rem;
    border: 1rem;
    border-radius: 30px;
    cursor: pointer;
  }
  .dashboard-banner>img{
    width: 100%;
    height: 100%;
    object-fit:  cover;
    border-radius: 30px;
  
  }
  .banner-promo{
    position: absolute;
    color: var(--lightGrey);
     top: 25%;
     left: 10%;
     font-weight: 800;
  
  
  }
  .banner-promo>h1 >span{
    color: var(--yellow);
  }
  
  .dashboard-tittle{
    padding: 0 1rem;
  }
  .dashboard-menu{
    display: flex;
    gap: 10px;
    padding: 0.3rem 1rem;
    overflow-x: auto;
  }
  .dashboard-menu>a{
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    min-width: 120px;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: var(--darkGrey);
    background-color: var(--lightGrey);
  }
  .dashboard-menu>a:hovers{
    background-color: var(--red);
    color: var(--lightGrey);
  }
  .dashboard-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    padding: 0.5rem 1rem 1rem 1rem;
  }
  /*hadling the pizza, bongolese etc images putting them in boxes */
  .dashboard-card{
    background-color: var(--mainColor);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
  }
  .dashboard-card:hovers{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  /*styling the box of images*/
  .card-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
  }
  .card-detail{
    padding: 10px;
  }
  /*didnt work .container worked.card-detail>h4 > span{
    float: right;
  }*/
  .container{
    float: right;
  }
  .card-time{
    color: var(--darkGrey);
    font-size: 0.8rem;
   /* padding: 9px;*/
  }
  .dashboard-order{
  width: 340px;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem 1.5;
  background-color: var(--mainColor);
  z-index: 4;
  }
  .dashboard-order>h3{
    padding: 10px 0;
  }
  
  .order-address{
    line-height: 2;
  
  }
  .order-time{
    font-size: 0.8rem;
    color: var(--darkGrey);
  }
  .order-wrap{
    height: 180px;
    width: 100%;
    overflow-y: scroll;
    margin: 20px 0px;
  }
  .order-wrap::-webkit-scrollbar{
    width: 7px;
  }
  .order-wrap::-webkit-scrollbar-track{
    background-color: var(--lightGrey);
    border-radius: 20px;
  }
  .order-wrap::-webkit-scrollbar-thumb{
    background-color: var(--darkGrey);
    border-radius: 20px;
  }
  
  .order-card{
  display: grid;
  grid-template-columns: 0.6fr 1fr.5fr;
  gap: 5px;
  justify-content: space-around;
  align-content: flex-start;
  
  }
  .order-image{
     width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 15px;
  
  }
  .order-detail>input{
    width: 35px;
    height: 30px;
    text-align: center;
    border: 2px solid var(--grey);
    border-radius: 10px;
    margin-left: 10px;
  }
  .divider{
    width: 100%;
    border: 1px dashed var(--grey);
  
  }
  .order-total>p{
    padding: 10px 0;
  
  }